@import "~bootstrap/scss/bootstrap.scss";

.counter{
    text-align: center;
    background: black;
    height: 100vh;
}

.counter div, i{
    padding: 20px;
    margin: 3px;
    color:white;
    font-size: 100px;
    line-height: 60px;
}